.boat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80px;
    width: 80%;
    background-color: aliceblue;
    margin-bottom: 8px;
}

.boat .boatName {
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 8px;
}

.boat .boatId {
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 8px;
}

.boat .deleteButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .boat .deleteButtonContainer {
        display: none;
    }
}